body {
margin: 0;
padding: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
overflow-x: hidden;
}
*{
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

a {
text-decoration: none;
}

.header {
background-color: #405CA8;
border-radius: 10px;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
list-style-type: none;
}
.header ul li{
list-style-type: none;
}

.header img {
max-width: 120px;
height: auto;
}

.header h2 a {
color: #fff;
text-align: center;
font-size: 1rem;
}

.header h2 a:hover {
color: darkgray;
transition: color 0.5s;
}


.meunToggle{
    display: block;
    position: absolute;
    top: 30px;
    right: 90px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
.meunToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
.meunToggle span{
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 2px;
    position: relative;
    background: #ffffff;
    border-radius: 1px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ,  background-colour 0.5s , opacity 0.55s ease;
}
.meunToggle span:first-child{
    transform-origin: 0% 0%;
}
.meunToggle span:nth-child(2){
    transform-origin: 0% 100%;
}
.meunToggle input:checked~span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px ,-1px);
    background: #232323;
}
.meunToggle input:checked~:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2 ,0.2);
}
.meunToggle input:checked~span:nth-last-child(2){
    opacity: 1;
    transform: rotate(-45deg) translate(0, 1px);
}
.meun{
    position: absolute;
    width: 200px;
    margin: -100px 0 0 0;
    margin-left:-5000px;
    padding: 50px;
    padding-top:  125px;
    right: -100px;
    list-style-type: none;
    transform: translate(100% ,0);
    transform-origin: 0% 0%;
    background-color:  #89A9D9;
    height: 400px;
    transition: transform 0.5s ease-in;
    border-radius: 20px;
     overflow: hidden;
    opacity: 0;
    
}
.meun li{
    padding: 10px 0;
    font-size: 22px;
}
.meun li a{
    color: #232323;
}
.meun li a:hover{
    color: #fff;
    transition: 0.5s ease;
}

.meunToggle input:checked~ul{
    transform: scale(1.0 , 1.0);
    opacity: 1;
     
}
.grid-container {
display: grid;
grid-template-columns: auto auto ;
gap: 15px;
margin: 50px;
}

.grid1, .grid2 {
background-color: #89A9D9;
color: #232323;
padding: 20px;
border-radius: 15px;
text-align: center;
}

.grid1 button, .grid2 button {
background-color: #ffffff;
border: none;
border-radius: 10px;
padding: 10px 20px;
cursor: pointer;
font-size: 1rem;
}

.grid1 button:hover, .grid2 button:hover {
background-color: #4a90e2;
color: #ffffff;
transition: 0.5s ease;
}
.img-slide-show {
width: 90%;
margin: 20px auto;
border-radius: 20px;
overflow: hidden;
}

.slideshow-container {
display: flex;
animation: slide 15s linear infinite;
}

.img-slide-show img {
width: 100%;
height: auto;
}
@keyframes slide {
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(-100%);
    }
    50%{
        transform: translate(-200%);
    }
    75%{
        transform: translate(-300%);
    }
    100%{
        transform: translate(-400%);
    }
   
 }
.contact {
display: grid;
grid-template-columns: auto auto;
gap: 15px;
margin: 25px;
}
.contact .h1{
    text-align: center;
}
.cgrid1, .cgrid2, .cgrid3, .cgrid4, .cgrid5 {
background-color: #89A9D9;
padding: 30px;
border-radius: 15px;
}
.cgrid5 p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding-bottom: 10px;
}
.cgrid5 a{
    color: #000;
   
}
.cgrid5 a:hover{
    color: #4a90e2;
    transition: 0.5s;
}
.cgrid5 iframe {
    margin: 10px;
width: 100%;
height: 350px;
border-radius: 10px;
}
footer {
    margin-top: 5%;
background-color: #405CA8;
color: #fff;
text-align: center;
padding: 20px;
}

footer a {
color: #fff;
text-decoration: none;
}

footer a:hover {
color: darkgray;
transition: all 0.5s ease;
}
.fcontainer{
    display: grid;
    grid-template-columns:  auto auto auto;
}
@media (max-width: 900px) {
.header {
flex-direction: column;
align-items: center;
}



.grid-container {
grid-template-columns: auto;
}

.img-slide-show {
width: 100%;
}

.contact {
grid-template-columns: auto;
}
.fcontainer{
    display: grid;
    grid-template-columns: auto;
}
}

